* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
}

.container{
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}



.main-logo {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

body {
    background-color: #13141f;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.main-header-container {
    height: 50px;
    background-color: #282929;
}
.main-header-container .container-logo .main-logo-text {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding: 5px;
}

.main-header {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Ajustar a altura para ficar abaixo do cabeçalho */
}

.cont-cadastro {
    background-color: #0026ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
}

.cont-cadastro .form-control {
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #555;
}

.cont-cadastro .form-control::placeholder {
    color: #999;
}

.cont-cadastro .btn {
    width: 100%;
    margin-top: 10px;
}

.btn-dark-color {
    background-color: #066399;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.btn-dark-color-outline {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
}

.btn-dark-color-outline:hover {
    background-color: #074580;
    color: #ffffff;
}

.fonte-destaque1 {
    color: #ffffff;
    text-align: center;
}

.text-logo {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.error-message {
    color: #ff0000;
    margin-bottom: 10px;
}
